/* Variables de css */
/* -Son valores reutilizables definidos mediante la sintaxis "--nombre-variable".
   -Permiten centralizar la gestión de estilos, facilitando el mantenimiento y los cambios globales.
   -Se pueden usar en cualquier parte del CSS mediante la función var(--nombre-variable).
 */

 /* Selector :root */
 /* - :root es una pseudo-clase que selecciona el elemento raíz del documento (html).
    - Es útil para declarar variables globales que afecten a toda la página.
    - También puedes declarar variables en otros selectores como clases, ID o elementos específicos para limitar el alcance. */

    :root{
        --color-primario : #585123;
        --color-background:  #f4f4f9;
        --color-acentos: #e3f2fd;
        --color-bordes:#ddd;
        --color-texto: #333;
        --color-secundario: #fff;
    }
    
    /* Reset básico */
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--color-background);
        color: var(--color-texto);
        line-height: 1.8;
    
    }
    
    header{
        text-align: center;
        background-color: var(--color-primario);
        color: var(--color-secundario);
        padding: 20px;
    }
    
    section{
        /* Los valores para la propiedad border son tres separados cada uno por un espacio:
        el primero es el grosor del borde
        el segundo es el tipo de estilo del borde
        el tercero es el color */
        border: 3px solid var(--color-bordes); 
        background-color: var(--color-secundario);
        border-radius: 15px;
        padding: 15px;
        margin: 20px;
    }
    
    h2{
        color: var(--color-primario)
    }
    
    .box{
        background-color: var(--color-acentos);
        border: 1px solid var(--color-primario);
        margin: 10px auto;
        /* El valor auto en la propiedad de margin hace que el navegador calcule
        automáticamente el espacio necesario para centrar un elemento dentro de su contendedor padre,
        siempre que el elemento tenga un ancho definido. Esta manera de centar los elementos sólo aplica de manera
        horizontal.*/
        padding: 10px;
        text-align: center;
    }
    
    .block{
        display: block;
        width: 150px;
        height: 30px;
    }
    
    .inline{
        display: inline;
        width: 150px;
        height: 30px;
        /* width y height son ignorados porque los elementos inline no respetan esta propiedad. */
    }
    
    .inline-block{
        display: inline-block;
        width: 150px;
        height: 30px;
       
    }
    
    .model{
        padding: 20px;
        border: 10px solid var(--color-primario);
        margin: 20px;
    }
    
    .content-box{
        box-sizing: content-box;
        margin: 10px;
        padding: 20px;
        border: 10px solid var(--color-primario);
        background-color: var(--color-acentos);
        width: 200px;
    }
    
    .border-box{
        box-sizing: border-box;
        margin: 10px;
        padding: 20px;
        border: 10px solid var(--color-primario);
        background-color: var(--color-acentos);
        width: 200px;
    }